<%= form_with model: @property do |form| %>

  <p><%= form.label :property_name %></p>
  <%= form.text_field :property_name %>

  <p><%= form.label :price %></p>
  <%= form.text_field :price %><a>分</a>

  <p><%= form.label :address %></p>
  <%= form.text_field :address %>

  <p><%= form.label :age %></p>
  <%= form.text_field :age %><a>年</a>

  <p><%= form.label :note %></p>
  <%= form.text_area :note %>
  

  <% if action_name == :new %>
    <h3>最寄り駅１</h3>
      <%= form.fields_for :stations do |stations_form| %>
        <p><%= stations_form.label :station_name %></p>
        <%= stations_form.text_field :station_name %>

        <p><%= stations_form.label :route_name %></p>
        <%= stations_form.text_field :route_name %>

        <p><%= stations_form.label :walk %></p>
        <%= stations_form.text_field :walk %><a>分</a>
      <% end %>

    <h3>最寄り駅2</h3>
      <%= form.fields_for :stations do |stations_form| %>
        <p><%= stations_form.label :station_name %></p>
        <%= stations_form.text_field :station_name %>

        <p><%= stations_form.label :route_name %></p>
        <%= stations_form.text_field :route_name %>

        <p><%= stations_form.label :walk %></p>
        <%= stations_form.text_field :walk %><a>分</a>
      <% end %>
  <% else %>
    <%= form.fields_for :stations do |stations_form| %>
      <% station = 1 %>
      <h3><%= "最寄り駅#{station}" %></h3>
      <p><%= stations_form.label :station_name %></p>
      <%= stations_form.text_field :station_name %>

      <p><%= stations_form.label :route_name %></p>
      <%= stations_form.text_field :route_name %>

      <p><%= stations_form.label :walk %></p>
      <%= stations_form.text_field :walk %><a>分</a>
    <% end %>
  <% end %>


  <div class="submit_action">
    <%= form.submit '登録する' %>
  </div>
<% end %>


